Repository osl-incubator/scicookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, ruff

black:
  entry: black
  name: black
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy
  language: system
  pass_filenames: true

ruff:
  name: ruff
  entry: ruff --no-cache
  language: system
  pass_filenames: true

fix(linter): Fix the linter configuration (#131)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/scicookie/__init__.py
  src/scicookie/__main__.py
  src/scicookie/cli.py
  src/scicookie/hooks/post_gen_project.py
  src/scicookie/logs.py
  src/scicookie/profile.py
  src/scicookie/ui.py
  src/scicookie/{{cookiecutter.project_slug}}/.bandit
  src/scicookie/{{cookiecutter.project_slug}}/.pre-commit-config.yaml
  src/scicookie/{{cookiecutter.project_slug}}/pyproject.toml
Due: black, mypy, ruff

add pandoc
  src/scicookie/{{cookiecutter.project_slug}}/conda/dev.yaml
Due: none

add conditional sentence
  src/scicookie/{{cookiecutter.project_slug}}/conda/dev.yaml
Due: none

fix conditional sentence
  src/scicookie/{{cookiecutter.project_slug}}/conda/dev.yaml
Due: none

feat(template): Add API documentation to the template 2/4 (Sphinx) (#124)
  src/scicookie/hooks/post_gen_project.py
  src/scicookie/{{cookiecutter.project_slug}}/conda/dev.yaml
  src/scicookie/{{cookiecutter.project_slug}}/docs-sphinx/conf.py
  src/scicookie/{{cookiecutter.project_slug}}/docs-sphinx/index.rst
  src/scicookie/{{cookiecutter.project_slug}}/docs-sphinx/readme.md
  src/scicookie/{{cookiecutter.project_slug}}/docs-sphinx/readme.rst
  src/scicookie/{{cookiecutter.project_slug}}/docs/api/references.rst
  src/scicookie/{{cookiecutter.project_slug}}/docs/example.ipynb
  src/scicookie/{{cookiecutter.project_slug}}/pyproject.toml
Due: black

chore(release): 0.2.0
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  a392c216b01a140820d9310cdbbc111fe4b49ffe
Due: none

Create main.yaml
  .github/workflows/main.yaml
Due: none

feat: Add initial version for OSL (#6)
  .github/workflows/main.yaml
  Makefile
  cookiecutter.json
  hooks/post_gen_project.py
  {{cookiecutter.project_slug}}/CONTRIBUTING.md
  {{cookiecutter.project_slug}}/INSTALLATION.md
  {{cookiecutter.project_slug}}/Makefile
  {{cookiecutter.project_slug}}/docs/conf.py
  {{cookiecutter.project_slug}}/mkdocs.yaml
Due: black

Adding PR template (#8)
  .github/PULL_REQUEST_TEMPLATE.md
  {{cookiecutter.project_slug}}/.github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: Add options for documentation and fix bugs (#5)
  .github/workflows/main.yaml
  .pre-commit-config.yaml
  cookiecutter.json
  docs/conf.py
  hooks/post_gen_project.py
  hooks/pre_gen_project.py
  poetry.lock
  pyproject.toml
  tests/test_bake_project.py
  {{cookiecutter.project_slug}}/.gitignore
  {{cookiecutter.project_slug}}/Makefile
  {{cookiecutter.project_slug}}/docs-jupyter-book/_config.yml
  {{cookiecutter.project_slug}}/docs-jupyter-book/_toc.yml
  {{cookiecutter.project_slug}}/docs-jupyter-book/intro.md
  {{cookiecutter.project_slug}}/docs-jupyter-book/sample.ipynb
  {{cookiecutter.project_slug}}/docs-mkdocs/mkdocs.yaml
  {{cookiecutter.project_slug}}/docs-sphinx/changelog.rst
  {{cookiecutter.project_slug}}/docs-sphinx/conf.py
  {{cookiecutter.project_slug}}/docs-sphinx/contributing.rst
  {{cookiecutter.project_slug}}/docs-sphinx/index.rst
  {{cookiecutter.project_slug}}/docs-sphinx/installation.rst
  {{cookiecutter.project_slug}}/docs-sphinx/make.bat
  {{cookiecutter.project_slug}}/docs-sphinx/readme.rst
  {{cookiecutter.project_slug}}/images/logo.png
  {{cookiecutter.project_slug}}/pyproject.toml
  {{cookiecutter.project_slug}}/tests/test_{{cookiecutter.project_slug}}.py
Due: black

chore: Add first tests for template & try separate semantic-release (#12)
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  .releaserc.json
  CHANGELOG.md
  Makefile
  poetry.lock
  tests/__init__.py
  tests/smoke/jupyter-book.sh
  tests/smoke/mkdocs.sh
  tests/smoke/sphinx.sh
  tests/test_bake_project.py
  {{cookiecutter.project_slug}}/.github/workflows/main.yaml
  {{cookiecutter.project_slug}}/.github/workflows/release.yaml
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/LICENSE
  {{cookiecutter.project_slug}}/Makefile
  {{cookiecutter.project_slug}}/docs-jupyter-book/_config.yaml
  {{cookiecutter.project_slug}}/docs-jupyter-book/_toc.yml
  {{cookiecutter.project_slug}}/docs-jupyter-book/chap_1.ipynb
  {{cookiecutter.project_slug}}/docs-jupyter-book/chap_2.ipynb
  {{cookiecutter.project_slug}}/docs-jupyter-book/sample.ipynb
  {{cookiecutter.project_slug}}/docs-sphinx/conf.py
  {{cookiecutter.project_slug}}/tests/test_{{cookiecutter.project_slug}}.py
Due: black

Update README.md
  README.md
Due: none

feat: Add new options for auto format code (#18)
  .github/workflows/main.yaml
  .pre-commit-config.yaml
  README.md
  conda/dev.yaml
  cookiecutter.json
  poetry.lock
  tests/smoke/black.sh
  tests/smoke/blue.sh
  tests/smoke/mkdocs.sh
  tests/smoke/sphinx.sh
  {{cookiecutter.project_slug}}/LICENSE
  {{cookiecutter.project_slug}}/Makefile
  {{cookiecutter.project_slug}}/conda/dev.yaml
  {{cookiecutter.project_slug}}/pyproject.toml
Due: none

fix: Improve documentation and auto format tool template output (#19)
  .gitignore
  hooks/post_gen_project.py
  poetry.lock
  pyproject.toml
  tests/smoke/base.sh
  tests/smoke/black.sh
  tests/smoke/blue.sh
  tests/smoke/jupyter-book.sh
  tests/smoke/mkdocs.sh
  tests/smoke/sphinx.sh
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.releaserc.json
  {{cookiecutter.project_slug}}/Makefile
  {{cookiecutter.project_slug}}/docs-jupyter-book/_config.yaml
  {{cookiecutter.project_slug}}/docs-jupyter-book/_toc.yml
  {{cookiecutter.project_slug}}/docs-jupyter-book/chap_1.ipynb
  {{cookiecutter.project_slug}}/docs-jupyter-book/chap_2.ipynb
  {{cookiecutter.project_slug}}/docs-jupyter-book/intro.md
  {{cookiecutter.project_slug}}/docs-mkdocs/mkdocs.yaml
  {{cookiecutter.project_slug}}/docs-sphinx/changelog.rst
  {{cookiecutter.project_slug}}/docs-sphinx/conf.py
  {{cookiecutter.project_slug}}/docs-sphinx/contributing.rst
  {{cookiecutter.project_slug}}/docs-sphinx/index.rst
  {{cookiecutter.project_slug}}/docs-sphinx/installation.rst
  {{cookiecutter.project_slug}}/docs/changelog.md
  {{cookiecutter.project_slug}}/docs/contributing.md
  {{cookiecutter.project_slug}}/docs/example.ipynb
  {{cookiecutter.project_slug}}/docs/images/favicon.ico
  {{cookiecutter.project_slug}}/docs/images/logo.png
  {{cookiecutter.project_slug}}/docs/index.md
  {{cookiecutter.project_slug}}/docs/installation.md
  {{cookiecutter.project_slug}}/pyproject.toml
  {{cookiecutter.project_slug}}/{{cookiecutter.package_slug}}/__init__.py
Due: black

feat(pr-linter): add semantic-release pr title linter (#30)
  .github/workflows/main.yaml
Due: none

ci: Fix yaml format (#31)
  .github/workflows/main.yaml
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

chore(ci): update to checkout v3 (#60)
  .github/workflows/main.yaml
  .github/workflows/release.yaml
Due: none

fix: Fix release workflow (#61)
  {{cookiecutter.project_slug}}/.github/workflows/main.yaml
  {{cookiecutter.project_slug}}/.github/workflows/release.yaml
Due: none

tests: Fix the base smoke test script (#63)
  tests/smoke/base.sh
  tests/smoke/black.sh
  tests/smoke/blue.sh
  tests/smoke/jupyter-book.sh
  tests/smoke/mkdocs.sh
  tests/smoke/sphinx.sh
Due: none

tests(smoke): Fix the path used in the smoke tests base script (#64)
  tests/smoke/base.sh
Due: none

#41 Semantic release github actions: Add name to the semantic release step (#67)
  {{cookiecutter.project_slug}}/.github/workflows/release.yaml
Due: none

feat: Add an option for code of conduct to the template. (#62)
  .github/workflows/main.yaml
  cookiecutter.json
  hooks/post_gen_project.py
  tests/smoke/base.sh
  tests/smoke/coc.sh
  {{cookiecutter.project_slug}}/coc/CITIZEN.md
  {{cookiecutter.project_slug}}/coc/CODE_OF_CONDUCT.md
  {{cookiecutter.project_slug}}/coc/CONTRIBUTOR_CONVENANT.md
  {{cookiecutter.project_slug}}/coc/CONTRIBUTOR_COVENANT.md
Due: black

chore(release): Fix release workflow and move from make to makim (#73)
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  .makim.yaml
  Makefile
  conda/dev.yaml
Due: none

Update release.yaml
  .github/workflows/release.yaml
Due: none

chore(release): Fix publish dir for the documentation (#74)
  .github/workflows/release.yaml
Due: none

Add timeout-minutes (#68)
  {{cookiecutter.project_slug}}/.github/workflows/main.yaml
  {{cookiecutter.project_slug}}/.github/workflows/release.yaml
Due: none

Added Description about the project (#76)
  README.md
Due: none

feat: Research Governance standards (#80)
  .github/workflows/main.yaml
  cookiecutter.json
  hooks/post_gen_project.py
  tests/smoke/governance.sh
  {{cookiecutter.project_slug}}/governance/numpy_governance.md
  {{cookiecutter.project_slug}}/governance/sciml_governance.md
Due: black

feat: Move from Cookiecutter to Cookieninja (#81)
  .github/ISSUE_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  docs/contributing.md
  docs/intro.md
  hooks/post_gen_project.py
  poetry.lock
  pyproject.toml
  tests/smoke/base.sh
  tests/smoke/coc.sh
  {{cookiecutter.project_slug}}/README.md
  {{cookiecutter.project_slug}}/docs/index.md
Due: black

feat: Research standards for roadmap (#83)
  .github/workflows/main.yaml
  cookiecutter.json
  hooks/post_gen_project.py
  tests/smoke/roadmap.sh
  {{cookiecutter.project_slug}}/roadmap/ignite_roadmap.md
Due: black

Added hypothesis
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/{{cookiecutter.project_slug}}/Makefile
  src/scicookie/{{cookiecutter.project_slug}}/pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/tests/test_{{cookiecutter.project_slug}}.py
Due: black

Added hypothesis with last line
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/{{cookiecutter.project_slug}}/Makefile
  src/scicookie/{{cookiecutter.project_slug}}/pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/tests/test_{{cookiecutter.project_slug}}.py
Due: black

pre-commit -verbose
  src/scicookie/cookiecutter.json
  src/scicookie/{{cookiecutter.project_slug}}/Makefile
  src/scicookie/{{cookiecutter.project_slug}}/pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/tests/test_{{cookiecutter.project_slug}}.py
Due: black

pre-commit erroe solved
  src/scicookie/profiles/base.yaml
  src/scicookie/{{cookiecutter.project_slug}}/Makefile
Due: none

makim file changed
  src/scicookie/{{cookiecutter.project_slug}}/Makefile
Due: none

Path conditions:
  black: any of: \.py$
  mypy: any of: src/scicookie/.* and \.py$ and not ((?x)(
    src/scicookie/{{cookiecutter.project_slug}}/
  | src/scicookie/hooks
)
)
  ruff: any of: src/scicookie/ and \.py$ and not ((?x)(
    src/scicookie/{{cookiecutter.project_slug}}
  | src/scicookie/hooks
)
)
